<div class="d-page-container">
  <h1>Fire Brigades</h1>

  <div class="d-search-form">
    <%= form_tag root_path, :method => :get, class: 'form-inline' do %>
        <%= text_field_tag :city, params[:city], required: true, placeholder: 'City', class: 'form-control d-margin-right' %>
        <%= text_field_tag :street, params[:street], required: true, placeholder: 'Street', class: 'form-control d-margin-right' %>
        <%= number_field_tag :radius, params[:radius], min: 1, required: true, class: 'form-control d-margin-right' %>
        <%= submit_tag "Search Near", :name => nil, class: "btn btn-primary" %>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Distance (km)</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Street</th>
    </tr>
    </thead>
    <% for brigade in @fire_brigades %>
      <tr>
        <td><%= brigade.name %></td>
        <td><%= number_with_precision(brigade.distance, precision: 2) %></td>
        <td><%= brigade.city %></td>
        <td><%= brigade.zipcode %></td>
        <td><%= brigade.street %></td>
      </tr>
    <% end %>
  </table>
</div>


